/* Custom Calendar Styling */
.react-calendar {
    width: 100%;
    max-width: 100%;
    background-color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 4em;
  }
  
  .react-calendar__navigation button {
    color: #2c6e49;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #b0eac6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875em;
    padding: 0.5em;
    color: #2c6e49;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.25px;
    background: none;
    text-align: center;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #b0eac6;
    color: white;
    border-radius: 6px;
  }
  
  .react-calendar__tile--now {
    background: #16a34a;
    color: white;
    border-radius: 6px;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #16a34a;
  }
  
  .react-calendar__tile--active {
    color: white;
    border-radius: 6px;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #16a34a;
    color: white;
  }
  
  .react-calendar__tile--hasActive {
    background: #16a34a;
    border-radius: 6px;
  }
  .ellipsis {
    display: block;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    color: #11542a;
  }
  .ellipsis:hover {
    color: #2c6e49;
  }
  @media (max-width: 768px) {
    .react-calendar {
      font-size: 14px;
    }
  }
  